
.btn_menu_area_wrap{
  font-size: 2rem;
   color: #4CAF50;
}
.btn_hidden_ara_wrap{ display:none; }
.pages_wrap .page_title_btn{ font-size: 1.4rem; }

.category_wrap .page_category_btn{ font-size: 1.4rem; }
.icon_box{
  text-align: center;
  font-size: 3.2rem;
}
.date_box{
  text-align: center;
  /* font-weight: bold; */
  font-size: 2rem;
}
.box_wrap{
  margin: 8px;
  padding:8px;
  min-width: 250px;
  background-color: #FFF;
  border: solid 1px black;
  flex: 1;
}
.body_wrap{
  display:flex;
  flex-wrap: wrap;
  padding : 8px;
}
.body_main_wrap{
  background-color: #EEE;
}